@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/fonts/gilroy-extrabold-webfont.woff);
}
@font-face {
  font-family: Azonix;
  src: url(/fonts/Azonix.woff);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(/fonts/gilroy-light-webfont.woff);
}
@font-face {
  font-family: Netron;
  src: url(/fonts/netron_-webfont.woff);
}
@font-face {
  font-family: AsusRog;
  src: url(/fonts/AsusRog-Regular.woff);
}
@font-face {
  font-family: Vipesrg;
  src: url(/fonts/vipesrg_-webfont.woff);
}
