.events {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1250%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1251)'%3e%3c/rect%3e%3cpath d='M18.67 140C14.99 128.51 1.56 135.43 0 123.77C-7.78 65.43 -31.63 30.26 0 0C33.07 -31.63 67.19 -5.46 129.39 0C137.19 0.68 133.45 12.28 140 12.28C151.25 12.28 151.35 1.2 165 0C221.35 -4.94 222.5 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C595 0 618.33 -23.33 630 0C653.33 46.67 621.65 71 630 140C638.59 211 680.67 218.46 663.87 280C645.67 346.65 614.65 341.3 560 396.39C545.21 411.3 528.29 401.06 525 420C514.07 482.87 560.79 521.02 531.56 560C508.29 591.02 475.78 560 420 560C350 560 350 560 280 560C211.11 560 210.43 561.39 142.22 560C140.43 559.96 141.69 557.76 140 557.14C70.58 531.79 43.93 551.09 0 508.06C-26.07 482.52 0 464.03 0 420C0 373.73 -14.33 367.58 0 327.46C10.67 297.58 46.97 310.42 50 280C56.31 216.69 39.99 206.63 18.67 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 265.26C272.33 267.24 272.63 272.01 272.63 280C272.63 307.38 258.88 329.75 280 336C332.56 351.55 358.21 343.94 420 323.61C443.33 315.94 450.23 301.31 450.23 280C450.23 260.5 441.7 243.88 420 242C356.58 236.51 346.02 248.24 280 265.26' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 216.6C1087.24 216.6 1063.05 250.67 1063.05 280C1063.05 305.07 1088.76 325.41 1120 325.41C1166.64 325.41 1218.82 306.16 1218.82 280C1218.82 251.76 1165.13 216.6 1120 216.6' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 399.51C964.63 399.51 945 407.69 945 420C945 434.73 965.78 453.6 980 453.6C990.78 453.6 995 436 995 420C995 408.96 989.63 399.51 980 399.51' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M77 140C82.33 100 104.16 73.68 140 73.68C189.66 73.68 238.9 93.66 248 140C259.16 196.82 190.01 207.19 180.53 280C171.79 347.19 180.48 359.95 211.56 420C230.22 456.05 244.9 472.2 280 472.2C318.6 472.2 319.31 445.84 358.97 420C389.31 400.23 391.19 380.98 420 380.98C442.95 380.98 454.23 393.97 462.5 420C482.67 483.48 492.01 510.15 476.88 560C470.76 580.15 448.44 560 420 560C350 560 350 560 280 560C238.89 560 230.42 577.32 197.78 560C160.42 540.17 179.07 507.12 140 485.71C80.18 452.93 57.41 478.55 0 451.61C-12.59 445.7 0 435.81 0 420C0 403.39 -9.92 399.13 0 386.78C46.33 329.13 92.56 343.89 112.5 280C131.06 220.5 68.58 203.16 77 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M76.36 0C76.36 21.2 22.58 73.04 0 73.04C-15.6 73.04 -18.67 17.85 0 0C19.51 -18.67 76.36 -15.32 76.36 0' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M312.94 140C312.94 102.8 364.82 53.33 420 53.33C481.11 53.33 482.55 96.99 545.52 140C552.55 144.8 555.81 141.67 560 148.94C596.17 211.67 626.24 218.81 626.24 280C626.24 321.45 593.63 354.22 560 354.22C525.51 354.22 523.3 318.58 490 280C453.3 237.47 463.01 226.01 420 192C374.48 156.01 312.94 172.14 312.94 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M815.44 140C815.44 106 811.65 70.88 840 66.32C893.93 57.64 908.16 99.56 980 113.51C1048.16 126.75 1065.95 148.63 1120 120.69C1175.73 91.88 1150.19 42.55 1199.55 0C1220.19 -17.79 1229.78 0 1260 0C1282.93 0 1288.16 -12.33 1305.86 0C1358.16 36.42 1353.06 48.63 1400 97.5C1420.3 118.63 1417.66 121.64 1440.34 140C1487.66 178.31 1508.17 166.13 1540 210.84C1558 236.13 1540 245.42 1540 280C1540 350 1540 350 1540 420C1540 490 1552.96 502.96 1540 560C1537.05 572.96 1514.41 572.6 1508.18 560C1479.84 502.6 1503.42 481.55 1470.86 420C1449.33 379.3 1437.55 385.12 1400 355.51C1348.78 315.12 1343.77 320.96 1293.33 280C1273.77 264.12 1280.17 256.88 1260 241.82C1193.5 192.16 1182.78 141.22 1120 150.57C1054.64 160.31 1060.23 213.99 1003.73 280C990.23 295.78 992.08 314.15 980 314.15C967.71 314.15 969.45 295.4 955 280C899.45 220.82 897.41 222.59 840 165C827.63 152.59 815.44 155.34 815.44 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1057.5 420C1077.42 387.84 1088.12 372.7 1120 372.7C1154.37 372.7 1158.52 392.26 1190 420C1228.52 453.95 1225.82 457.33 1260 496.09C1287.54 527.33 1313.45 540.53 1313.45 560C1313.45 572.49 1286.72 560 1260 560C1190 560 1190 560 1120 560C1062 560 1017.63 590.54 1004 560C986.38 520.54 1019.42 481.49 1057.5 420' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M668.57 560C668.57 551.23 681.29 540.63 700 529.8C767 491.04 776.54 452.96 840 460.83C898.28 468.06 943.48 531.2 943.48 560C943.48 580.79 891.74 560 840 560C770 560 770 560 700 560C684.29 560 668.57 566.33 668.57 560' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M135.33 140C135.33 136.95 137.34 135.09 140 135.09C143.68 135.09 148 136.33 148 140C148 147.53 143.26 157.5 140 157.5C136.93 157.5 135.33 148.15 135.33 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M23.33 0C23.33 6.48 6.9 22.32 0 22.32C-4.77 22.32 -5.7 5.46 0 0C5.96 -5.7 23.33 -4.68 23.33 0' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M415.88 140C415.88 138.57 417.88 136.67 420 136.67C422.35 136.67 424.83 138.59 424.83 140C424.83 141.26 422.39 142 420 142C417.91 142 415.88 141.24 415.88 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1201.67 140C1201.67 96.88 1225.52 40 1260 40C1300.33 40 1351.3 100.08 1351.3 140C1351.3 169.17 1303.89 178.18 1260 178.18C1229.08 178.18 1201.67 165.97 1201.67 140' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M529.77 280C529.77 253.72 545.21 223.4 560 223.4C574.62 223.4 588.6 253.57 588.6 280C588.6 297.9 574.52 312.05 560 312.05C545.11 312.05 529.77 298.04 529.77 280' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1348.89 280C1348.89 234.56 1359.85 181.8 1400 176.13C1455.4 168.31 1480.12 208.58 1540 253.01C1550.12 260.52 1540 266.5 1540 280C1540 350 1540 350 1540 420C1540 455 1546.27 490 1540 490C1533.31 490 1536.9 448.34 1514.07 420C1466.9 361.43 1458.74 365.97 1400 316.18C1376.15 295.97 1348.89 304.58 1348.89 280' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M253.33 560C253.33 551.55 261.9 533.22 280 531.53C345.23 525.44 356.05 531.64 420 544.44C427.15 545.87 422.19 553.17 422.19 560C422.19 560.95 421.1 560 420 560C350 560 350 560 280 560C266.66 560 253.33 565.78 253.33 560' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1104 560C1104 497.14 1099.63 420 1120 420C1142.63 420 1190 511.63 1190 560C1190 581.63 1155 560 1120 560C1112 560 1104 567.14 1104 560' stroke='rgba(4%2c 36%2c 70%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1250'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1251'%3e%3cstop stop-color='rgba(19%2c 22%2c 58%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .heading {
    font-family: Azonix, sans-serif;
    @include gradienttext();
    font-size: 2rem;
    @media screen and (max-width: 430px) {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
    // &::before {
    //   position: absolute;
    //   z-index: 0;
    //   top: 7rem;
    //   color: #111;
    //   font-size: 10rem;
    //   letter-spacing: 2rem;
    //   content: '';
    //   @include respond(tab-port) {
    //     display: none;
    //   }
    // }
  }
  .ctrl {
    padding: 1em 2em;
    display: flex;
    min-width: 10rem;
    max-width: 90vw;
    align-items: center;
    @media screen and (max-width: 760px) {
      overflow-x: scroll;
    }
    .search {
      width: 100%;
      max-width: 20em;
      z-index: 100;
      overflow: hidden;
      input {
        background: transparent;
        // width: 100%;
        border-bottom: 1px solid white;
        outline: none;
        color: white;
        font-size: 1.4em;
        padding: 0.6em 1em 0.5em;
        &:focus {
          border-bottom: 1px solid #5ac8fa;
          outline: none;
        }
      }
    }

    .types {
      margin-left: 1em;
      display: flex;
      height: 100%;
      align-content: center;
      .type {
        width: 2em;
        height: 2em;
        border-radius: 0.5em;
        margin: 0.5em 1em 0.5em 0;
        background: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #000;
        cursor: pointer;
        transition: all 0.3s;
        &:active {
          transform: scale(1.1);
        }
      }
    }
    .dept {
      cursor: pointer;
      color: #666;
      margin: 0 0.2em;
      padding: 0.2em 0.5em;
      z-index: 100;

      &.active {
        color: #fff;
      }
    }
  }

  .events-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    > * {
      animation: fade-in 0.3s ease-out forwards;
    }
  }
  .finished-events {
    > * {
      filter: grayscale(1);
      position: relative;

      &::after {
        content: 'Finished';
        position: absolute;
        background: red;
        color: white;
        padding: 1em;

        top: 0;
        right: 0;
        // bottom: 0;
        // left: 0;
        background-color: #0001;
        text-align: right;
        border-radius: 1em;
        z-index: 4;
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(0, 1em);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @media screen and (max-width: 430px) {
    padding: 1rem;
  }
}
